<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">
           <b style="border:2px solid DodgerBlue; color:Tomato;">EMPLOYEE MANAGEMENT SYSTEM</b> <i style="border:2px solid Violet;color:DodgerBlue;"><b>Creater: Ashok Bhobhiya, 181IT154</b></i>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/home" class="nav-item nav-link active" routerLinkActive="active">
                    <b style="color:MediumSeaGreen;border: 2px solid DodgerBlue">EMPLOYEE</b>
                 </a>
                 <a routerLink="/add" class="nav-item nav-link" routerLinkActive="active">
                    <b style="color:MediumSeaGreen;border: 2px solid DodgerBlue">ADD</b>
                 </a>
            </div>
            
        </div>
    </nav>


