<div class="panel panel-default bg-gradient-dark text-white">
  <h2>Edit Employee Details</h2>
  <div class="panel-body">
    <form class="form-horizontal " (submit)="updateEmployee()">
      <div class="form-group row m-2">
        <label for="emp_name" class="col-sm-2 control-label"><b><i>Name :</i></b> </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
        </div>
      </div>
      <div class="form-group row m-2">
        <label for="position" class="col-sm-2 control-label"><b><i>Position : </i></b></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.position" name="position">
        </div>
      </div>
      <div class="form-group row m-2">
        <label for="department" class="col-sm-2 control-label"><b><i>Department: </i></b></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.department" name="department">
        </div>
      </div>
      <div class="form-group row m-2">
        <label for="salary" class="col-sm-2 control-label"><b><i>Phone Number:</i></b> </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.phone" name="phone">
        </div>
      </div>
      <div class="form-group row m-2">
        <label for="salary" class="col-sm-2 control-label"><b><i>Email :</i></b> </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.email" name="email">
        </div>
      </div>
      <div class="form-group row m-2">
        <label for="salary" class="col-sm-2 control-label"><b><i>Salary :</i></b> </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.salary" name="salary">
        </div>
      </div>


      <div class="form-group ">
        <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-success"><b><i>Edit</i></b></button>
          <a class="btn btn-info" (click)="goBack()"><b><i>Cancel</i></b></a>
        </div>

      </div>
    </form>

  </div>
</div>